
body {
  background-color: #e8e8e8
}

#layout {
  background-color: #e8e8e8
}

#main-header-text {
  color: white;
}

#add-portfolio-button {
  margin-bottom: 2%;
}

#portfolio-container {
  margin:20px 20px 20px 20px;
}

.portfolio {
  margin-bottom: 3%;
}

.add-modal-input {
  margin-bottom: 20px;
}

#add-stock-btn {
  background-color: #52c41a;
  margin-right: 2%;
  color: white;
}

#perf-graph-btn {
  background-color: #faad14;
  color: white;
}

#perf-graph-btn:disabled,
#add-stock-btn:disabled,
#delete-selected-btn:disabled {
  background-color: lightgray;
  opacity: 0.4;
  color: black;
}

#delete-selected-btn {
  background-color: #f5222d;
  color: white;
  float: right;
}

#currency-selector {
  margin-bottom: 2%;
}

#table-container {
  margin-bottom: 1.5%;
}

#buttons-container {
  margin-top: 3%;
}

#date-picker-container {
  margin-top: 1%;
}

/* Override the ant design css for table header color */
thead[class*="ant-table-thead"] th{
  background-color: #e8e8e8 !important;
}

/* Remove right floating on delete button when small screen */
@media only screen and (max-width : 480px) {
  #delete-selected-btn {
    margin-top: 2%;
    float: none;
  }
}