
#main-content {
}

#main-header {
}

#main-header-text {
  color: white;
}

#add-portfolio-button {
  margin-bottom: 2%;
}

#portfolio-container {
  margin:20px 20px 20px 20px;
}

.portfolio {
  margin-bottom: 2%;
}

.add-modal-input {
  margin-bottom: 20px;
}

#add-stock-btn {
  background-color: #52c41a;
  margin-right: 2%;
  color: white;
}

#perf-graph-btn {
  background-color: #faad14;
  color: white;
}

#perf-graph-btn:disabled {
  background-color: lightgray;
  opacity: 0.4;
  color: black;
}

#delete-selected-btn {
  background-color: #f5222d;
  color: white;
  float: right;
}

#delete-selected-btn:disabled {
  background-color: lightgray;
  opacity: 0.4;
  color: black;
}

#currency-selector {
  margin-bottom: 2%;
}

#table-container {
  margin-bottom: 1.5%;
}

#buttons-container {
  margin-top: 3%;
}

/* Remove right floating on delete button when small screen */
@media only screen and (max-width : 480px) {
  #delete-selected-btn {
    margin-top: 2%;
    float: none;
  }
}